<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Silence is eloquence</title>
</head>
<body>
	
</body>
</html>



















{% load static %}

<!-- About Section -->
<div class="section" id="about">
  <div class="container">
    <div class="row text-left mb-5">
      <div class="col-12">
        <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
      </div>

      <div class="col-lg-6">
        <p class="text-black-50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          enim pariatur similique debitis vel nisi qui reprehenderit totam?
          Quod maiores.
        </p>
        <p class="text-black-50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          saepe, explicabo nihil. Est, autem error cumque ipsum repellendus
          veniam sed blanditiis unde ullam maxime veritatis perferendis
          cupiditate, at non esse!
        </p>
        <p class="text-black-50">
          Enim, nisi labore exercitationem facere cupiditate nobis quod
          autem veritatis quis minima expedita. Cumque odio illo iusto
          reiciendis, labore impedit omnis, nihil aut atque, facilis
          necessitatibus asperiores porro qui nam.
        </p>
      </div>

      <div class="col-lg-6">
        <p class="text-black-50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          saepe, explicabo nihil. Est, autem error cumque ipsum repellendus
          veniam sed blanditiis unde ullam maxime veritatis perferendis
          cupiditate, at non esse!
        </p>
        <p class="text-black-50">
          Enim, nisi labore exercitationem facere cupiditate nobis quod
          autem veritatis quis minima expedita. Cumque odio illo iusto
          reiciendis, labore impedit omnis, nihil aut atque, facilis
          necessitatibus asperiores porro qui nam.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Image and Features Section 1 -->


<!-- Team Section -->
<div class="section sec-testimonials bg-light">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">Our Associate Partners</h2>
      </div>
      <div class="col-md-6 text-md-end">
        <div id="testimonial-nav">
          <span class="prev" data-controls="prev">Prev</span>
          <span class="next" data-controls="next">Next</span>
        </div>
      </div>
    </div>

    <div class="testimonial-slider-wrap">
      <div class="testimonial-slider">



        <div class="item">
          <div class="testimonial text-center">
            <img src="{% static 'images/partners/godrej.jpg' %}" alt="Carol Houston" class="img-fluid  w-100 mb-4" />
            <!-- <h3 class="h5 text-primary">Carol Houston</h3>
            <p class="text-black-50">Designer, Co-founder</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p> -->
          </div>
        </div>

        <div class="item">
          <div class="testimonial text-center">
            <img src="{% static 'images/partners/1000367836.jpg' %}" alt="Synthia Cameron"
              class="img-fluid   w-100 mb-4" />
            <!-- <h3 class="h5 text-primary">Synthia Cameron</h3>
            <p class="text-black-50">Designer, Co-founder</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p> -->
          </div>
        </div>

        <div class="item">
          <div class="testimonial text-center">
            <img src="{% static 'images/partners/IMG_20251026_175701.png' %}" alt="Synthia Cameron"
              class="img-fluid   w-100 mb-4" />
            <!-- <h3 class="h5 text-primary">Synthia Cameron</h3>
            <p class="text-black-50">Designer, Co-founder</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p> -->
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



{% include 'contact.html' %}